# Ignore Python virtual environments and dependencies
environ/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env
*.egg-info/
deeplake/
lib/
Module-3: Learning How to Prompt/9-Project: Improved News Article Summarizer/